.banner {
  /* background-image: url(../assets/images/bannerBg@2.png); */
  /* background-size: cover; */
  background-color: #121113;
}
.banner-button {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.48) 0%,
    rgba(255, 255, 255, 0.18) 100%
  );
  backdrop-filter: blur(15px);
  /* border-radius: 24px; */
  box-shadow: 0px 48px 60px rgba(119, 118, 156, 0.3);
}

.buy {
  background-image: url(../assets/images/buy-bg.png);
  background-size: cover;
}

.document-bg {
  background-image: url(../assets/images/document-bg.png);
  background-size: cover;
}

.roadmap {
  background-image: url(../assets/images/roadmap-bg.png);
  background-size: cover;
}

.faq {
  /* background-image: url(../assets/images/faq.png); */
  background-color: white;
  background-size: cover;
}

.donate {
  background-image: url(../assets/images/donate.png);
  background-size: cover;
}

.copy-board {
  transform: translateY(-50%);
}
.progressbar {
  max-width: 800px;
  width: 100%;
  /* margin-top: 40px; */
  margin: 40px auto 0;
}
.progress-container {
  height: 30px;
  border-radius: 30px;
  margin: 10px auto 0 auto;
}
@media (max-width: 768px) {
  .progress-container {
    height: 20px;
  }
}
.progress-inner {
  width: 50%;
  height: 100%;
  margin: 0;
  border-radius: inherit;
}

.details {
  background-image: url(../assets/images/details-bg.png);
  background-size: cover;
}
.tokenomic .big-text {
  font-size: 140px;
}

.section-title {
  position: relative;
}
.section-title h2 {
  position: relative;
  z-index: 3;
}
.section-title img {
  width: 120px;
}
.section-title .title-back {
  position: absolute;
  z-index: 1;
  opacity: 0.07;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  word-break: keep-all;
  width: 100%;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  max-width: 300px;
  width: 100%;

  height: 100%;
  padding: 10px 10px 0 10px;
  transition: all 0.3s;
  z-index: 99999;
}

.mobile-menu.active {
  left: 0;
}

@media (max-width: 768px) {
  .section-title .title-back {
    font-size: 120px;
    display: none;
  }
  .tokenomic .big-text {
    font-size: 100px;
  }
}
@media (max-width: 992px) {
  .section-title .title-back {
    font-size: 120px;
    display: none;
  }
  .tokenomic .big-text {
    font-size: 120px;
  }
}

.banner-star1 {
  left: 10%;
  top: 10%;
}
.banner-star2 {
  top: 40%;
  left: 5%;
}
.banner-star3 {
  left: 8%;
  top: 60%;
}
.banner-star4 {
  left: 6%;
  top: 80%;
}
.banner-star5 {
  top: 20%;
  left: 50%;
}
.banner-star6 {
  left: 90%;
  top: 10%;
}
.banner-star7 {
  left: 40%;
  top: 80%;
}
.banner-star8 {
  top: 70%;
  left: 95%;
}
.banner-star9 {
  top: 50%;
  left: 50%;
}
.banner-star10 {
  left: 90%;
  top: 40%;
}
.banner-star11 {
  left: 40%;
  top: 10%;
}
.banner-star12 {
  top: 10%;
  left: 60%;
}
.banner-star13 {
  top: 50%;
  left: 50%;
}
.banner-star14 {
  left: 60%;
  top: 75%;
}
.banner-star15 {
  left: 25%;
  top: 75%;
}

.banner-bottom-star1 {
  left: 10%;
  top: 10%;
}
.banner-bottom-star2 {
  left: 90%;
  top: 15%;
}
.banner-bottom-star3 {
  left: 50%;
  top: 12%;
}
.banner-bottom-star4 {
  left: 10%;
  top: 25%;
}
.banner-bottom-star5 {
  left: 90%;
  top: 30%;
}
.banner-bottom-star6 {
  left: 95%;
  top: 50%;
}
.banner-bottom-star7 {
  left: 8%;
  top: 50%;
}
.banner-bottom-star8 {
  left: 10%;
  top: 80%;
}
.banner-bottom-star9 {
  left: 90%;
  top: 86%;
}
.banner-bottom-star10 {
  left: 50%;
  top: 40%;
}
.details-star1 {
  left: 10%;
  top: 10%;
}
.details-star2 {
  left: 5%;
  top: 25%;
}
.details-star3 {
  left: 7%;
  top: 40%;
}
.details-star4 {
  left: 5%;
  top: 60%;
}
.details-star5 {
  left: 85%;
  top: 15%;
}
.details-star6 {
  left: 90%;
  top: 40%;
}
.details-star7 {
  left: 5%;
  top: 25%;
}
.details-star8 {
  left: 95%;
  top: 60%;
}
.details-star9 {
  left: 92%;
  top: 80%;
}
.details-star10 {
  left: 88%;
  top: 95%;
}
.details-star11 {
  left: 60%;
  top: 98%;
}
.details-star12 {
  left: 40%;
  top: 96%;
}
.details-star13 {
  left: 10%;
  top: 90%;
}
.details-star14 {
  left: 40%;
  top: 60%;
}
.details-star15 {
  left: 60%;
  top: 50%;
}
.details-star16 {
  left: 60%;
  top: 20%;
}
.details-star17 {
  left: 40%;
  top: 18%;
}
.details-star18 {
  left: 6%;
  top: 100%;
}
.document-star1 {
  top: 10%;
  left: 15%;
}
.document-star2 {
  top: 30%;
  left: 7%;
}
.document-star3 {
  top: 50%;
  left: 10%;
}
.document-star4 {
  top: 80%;
  left: 8%;
}
.document-star5 {
  top: 35%;
  left: 30%;
}
.document-star6 {
  top: 33%;
  left: 60%;
}
.document-star7 {
  top: 25%;
  left: 80%;
}
.document-star8 {
  top: 80%;
  left: 90%;
}
.document-star9 {
  top: 90%;
  left: 60%;
}
.document-star10 {
  top: 96%;
  left: 30%;
}
.document-star11 {
  top: 50%;
  left: 90%;
}
.roadmap-star1 {
  top: 10%;
  left: 15%;
}
.roadmap-star2 {
  top: 30%;
  left: 7%;
}
.roadmap-star3 {
  top: 50%;
  left: 10%;
}
.roadmap-star4 {
  top: 80%;
  left: 8%;
}
.roadmap-star5 {
  top: 35%;
  left: 30%;
}
.roadmap-star6 {
  top: 33%;
  left: 60%;
}
.roadmap-star7 {
  top: 25%;
  left: 80%;
}
.roadmap-star8 {
  top: 80%;
  left: 90%;
}
.roadmap-star9 {
  top: 90%;
  left: 60%;
}
.roadmap-star10 {
  top: 96%;
  left: 30%;
}
.roadmap-star11 {
  top: 50%;
  left: 90%;
}
.roadmap-star12 {
  top: 10%;
  left: 90%;
}
.roadmap-star13 {
  top: 8%;
  left: 50%;
}
.roadmap-star14 {
  top: 10%;
  left: 80%;
}
.roadmap-star15 {
  top: 65%;
  left: 5%;
}
.roadmap-star16 {
  top: 30%;
  left: 30%;
}
.donate-star1 {
  top: 10%;
  left: 15%;
}
.donate-star2 {
  top: 30%;
  left: 7%;
}
.donate-star3 {
  top: 50%;
  left: 10%;
}
.donate-star4 {
  top: 80%;
  left: 8%;
}
.donate-star5 {
  top: 80%;
  left: 50%;
}
.donate-star6 {
  top: 60%;
  left: 60%;
}
.donate-star7 {
  top: 25%;
  left: 80%;
}
.donate-star8 {
  top: 80%;
  left: 90%;
}
.donate-star9 {
  top: 20%;
  left: 30%;
}
.donate-star10 {
  top: 96%;
  left: 30%;
}
.donate-star11 {
  top: 50%;
  left: 90%;
}
.donate-star12 {
  top: 10%;
  left: 90%;
}
.donate-star13 {
  top: 8%;
  left: 50%;
}
.donate-star14 {
  top: 97%;
  left: 80%;
}
.donate-star15 {
  top: 65%;
  left: 5%;
}
